body {
    background-color: #ffffff;
    color: #fff;
}

h2 {
    color: #fefae0;
    text-align: center;
}

h3 {
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
}

.about {
    color: black;
    font-weight: bold;
    font-size: 26px;
    padding: 20px;
}

.name {
    background-color: rgba(27, 27, 34, 0.774);
    margin: 0 10px;
    padding: 5px;
}

img {
    width: 250px;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    margin-top: 20px;
}

.my-description {
    width: 30%;
    margin: auto;
    color: black;
}

.my-description p {
    float: right;
    margin: 60px 3px;
    
}

.assignment {
    line-height: 20px;
    color: #000000;
    font-size: 17px;
}

.text-decoration {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    line-height: 10px;
}

.textdecoration ul li a p {
    color: black;
}